<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="public/css/login.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
        <h1 style="text-align: center" class="display-4">Conquering One Blocker At A Time</h1>
        <p style="text-align: center" class="lead">Post a question or leave an answer if you have a solution. </p>
    <!-- </div> -->
    <div id="loginWrapper" class="wrapper">
        <form id="LoginForm" class="form-signin">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required=""
                autofocus="" />
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                required="" />
            <label class="checkbox">
                    <a href="https://question-answer-front.herokuapp.com/register/">Register</a>
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</div>
    <div id="pswdNotification">
        <p style="text-align: center">Incorrect Password</p>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("LoginForm");
        theForm.addEventListener("submit", (event) => {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            event.preventDefault();
            fetch('http://localhost:3000/api/user/login', {
                method: "post",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
                .then(res => res.json())
                .then(response => {
                    localStorage.setItem('token', response.token);
                    localStorage.setItem('user', response.userId);
                    const password = response.token
                    const localStoragePswd = localStorage.getItem('token', response.token);
                    if (password === localStoragePswd) {
                        window.location.replace('http://localhost:8080/home/' + response.userId);
                    } else {
                        document.getElementById("pswdNotification").style.display = "block";
                    }
                }).catch(error => console.error('Error:', error));
            $('#LoginForm').get(0).reset();
        })
    });

</script>


</html>