<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/home.css" rel='stylesheet' type='text/css' />
</head>

<body>
        <nav style="background-color: gray" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Q & A</a>
            <button class="navbar-toggler" style="background-color:white" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="userInfo"></a>
                    </li>
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" onclick="logOut()" href="https://question-answer-front.herokuapp.com">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
            <div class="row">
                <div class="col-sm-9" id="question"></div>
            </div>

            <div class="row">
                <div class="col-sm-9" id="answerCount"></div>
            </div>

            <div class="row">
                <div class="col-sm-9" id="questionAnswer"></div>
            </div>
            <br></br>
                <form id="answerForm">
                    <div class="form-group col-sm-9">
                            <label for="title">Answer here... </label>
                        <textarea class="form-control" id="answer" rows="9"></textarea>
                      </div>
                </form>
            <div class="wrapper col-sm-9">
                <button type="button" onclick="submitAnswer()" class="btn btn-outline-secondary">Submit Answer</button>
            </div>
            <br></br><br></br>
            <footer class="page-footer font-small blue">
                <div class="footer-copyright text-center py-3">© 2019 Copyright: De'Meco Bell
                </div>
            </footer>
</body>
<script src="/public/logOut.js"></script>

<script>
    let user = ""
    window.addEventListener("load", (req, res) => {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1)
        const token = localStorage.getItem('token');
        const bearer = 'Bearer ' + token
        fetch('https://question-answer-api.herokuapp.com/api/question/' + id, {
            method: "GET",
            headers: {
                'Authorization': bearer,
            }
        })
            .then(res => res.json())
            .then(response => {
                const timestamp = response._id.toString().substring(0, 8)
                date = new Date(parseInt(timestamp, 16) * 1000).toDateString()
                user = response.user._id;
                let html = '';
                html += `<h1>${response.question}?</h1>`;
                html += `<p>${response.description}</p>`;
                html += `<h4 class="float-right"> Asked by: ${response.user.username} on ${date}  </h4>`
                const questionContainer = document.getElementById("question");
                questionContainer.innerHTML = html;

                let userHtml = ''
                userHtml += `<a style="color: black" class="nav-link" href="https://question-answer-front.herokuapp.com/home/${response.user._id}">Home</a>`
                const navContainer = document.getElementById("userInfo");
                navContainer.innerHTML = userHtml;
            })
            .catch(error => console.error('Error:', error));
    })
    //post answer
    const submitAnswer = () => {
        const _id = localStorage.getItem('user');
        var url = window.location.pathname;
        var question = url.substring(url.lastIndexOf('/') + 1)
        let answer = document.getElementById("answer").value;
        const token = localStorage.getItem('token');
        const bearer = 'Bearer ' + token
        fetch('https://question-answer-api.herokuapp.com/api/answer/', {
            method: "post",
            headers: {
                'Authorization': bearer,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                answer: answer,
                question: question,
                user: _id
            })
        })
            .then(res => res.json())
            .then(response => {
                console.log(response)
            }).catch(error => console.error('Error:', error));
        window.location.reload();
        $('#answerForm').get(0).reset();
    }
    //get answer by question id
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    let url = window.location.pathname;
    let question = url.substring(url.lastIndexOf('/') + 1)
    fetch('https://question-answer-api.herokuapp.com/api/answer/' + question, {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            let html = '';
            for (var i = 0; i < response.length; i++) {
                html += `<p>${response[i].answer}</p>`
                html += `<h4 class="float-right">Posted by: ${response[i].user.username}<h4>`
                html += `<br></br>`
            }
            const answerContainer = document.getElementById("questionAnswer");
            answerContainer.innerHTML = html;
            let countHtml = ''
            countHtml += `<div>`
            if (response.length == 1) {
                countHtml += `<h4>${response.length} Answer</h4>`
            } else {
                countHtml += `<h4>${response.length} Answers</h4>`
            }
            countHtml += `</div>`
            const countContainer = document.getElementById('answerCount');
            countContainer.innerHTML = countHtml;
        })
        .catch(error => console.error('Error:', error));
</script>

</html>