<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/home.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="container-fluid">
        <nav style="background-color: gray" class="navbar navbar-expand-lg navbar-dark>
                    <a class=" navbar-brand" href="#">Q & A</a>
            <button class="navbar-toggler" style="background-color:white" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" href="http://localhost:8080/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" onclick="logOut()" href="/">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
            <h1 style="text-align: center" class="display-4">Questions</h1>
            <div id='question'></div>
            <hr style="width: 1000px">
        </div>

        <div style="text-align: center" id="questionAnswer"></div>
        <br></br><br></br>
        <center>
            <form id="answerForm">
                <textarea id="answer" rows="4" cols="122"></textarea>
            </form>
        </center>
        <div style="text-align: center" class="wrapper">
            <button type="button" onclick="submitAnswer()" class="btn btn-outline-secondary">Submit Answer</button>
        </div>
        <br></br><br></br>
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright: De'Meco Bell
            </div>
        </footer>
</body>
<script src="/public/logOut.js"></script>

<script>
    let user = ""
    window.addEventListener("load", (req, res) => {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1)
        const token = localStorage.getItem('token');
        const bearer = 'Bearer ' + token
        fetch('http://localhost:3000/api/question/' + id, {
            method: "GET",
            headers: {
                'Authorization': bearer,
            }
        })
            .then(res => res.json())
            .then(response => {
                user = response.user._id;
                let html = '';
                html += `<br></br>`
                html += `<h6 style="text-align: center">${response.question}? Posted By: ${response.user.username} </h6>`;
                html += `<p style="text-align: center">${response.description}</p>`;

                const questionContainer = document.getElementById("question");
                questionContainer.innerHTML = html;

            })
            .catch(error => console.error('Error:', error));
    })

    //post answer
    const submitAnswer = () => {
        var url = window.location.pathname;
        var question = url.substring(url.lastIndexOf('/') + 1)
        let answer = document.getElementById("answer").value;
        const token = localStorage.getItem('token');
        const bearer = 'Bearer ' + token

        fetch('http://localhost:3000/api/answer/', {
            method: "post",
            headers: {
                'Authorization': bearer,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                answer: answer,
                question: question,
                user: user,

            })
        })
            .then(res => res.json())
            .then(response => {
            }).catch(error => console.error('Error:', error));
            window.location.reload();
        $('#answerForm').get(0).reset();
    }
    //get answer by question id
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    let url = window.location.pathname;
    let question = url.substring(url.lastIndexOf('/') + 1)
    fetch('http://localhost:3000/api/answer/' + question, {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            let html = '';
            for (var i = 0; i < response.length; i++) {
                html += `<p>Answer: ${response[i].answer}</p>`
            }
            const answerContainer = document.getElementById("questionAnswer");
            answerContainer.innerHTML = html;
        })
        .catch(error => console.error('Error:', error));

</script>

</html>