<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav style="background-color: gray" class="navbar navbar-expand-lg navbar-dark>
                    <a class=" navbar-brand" href="#">Q & A</a>
            <button class="navbar-toggler" style="background-color:white"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" href="http://localhost:8080/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" onclick="logOut()" href="/">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
            <h1 style="text-align: center" class="display-4">React</h1>
            <p style="text-align: center" class="lead">Leave an answer if you have a solution. </p>
        </div>
        <div class="row mt-sm-4 mt-md-0">
            <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                <h3>React Questions</h3>
                <div id="question"></div>
            </div>
            <div class="col-sm-12 col-md-4">
                <h3 class="mb-4">Browse a Topic</h3>
                <ul id="topic" class="nav flex-column nav-pills">
                </ul>
            </div>
        </div>
        <br></br>
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright: De'Meco Bell
            </div>
        </footer>
</body>
<script src="/public/logOut.js"></script>
<script>
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    fetch('http://localhost:3000/api/question/' + '5d1e65f4ca9684090e6375c7', {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            console.log(response)
            let html = '';
            for (var i = 0; i < response.length; i++) {
                html += `<h6>${response[i].question}? Posted By: ${response[i].user.username} <button class="link">Answer</button> </h6>`;
            }
            const questionContainer = document.getElementById("question");
            questionContainer.innerHTML = html;
        })
        .catch(error => console.error('Error:', error));

    //gettting topics from db
    fetch('http://localhost:3000/api/topic/', {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            let html = '';
            //pass id and load question based on id next page when clicked can also pull topic name from object 
            html += `<li class="nav-item">
                                <a class="nav-link" href="http://localhost:8080/mongodb">${response[0].topic}</a>
                                <a class="nav-link" href="http://localhost:8080/express">${response[1].topic}</a>
                                <a class="nav-link active" href="#">${response[2].topic}</a>
                                <a class="nav-link" href="http://localhost:8080/node">${response[3].topic}</a>
                            </li>`
            const topicContainer = document.getElementById("topic");
            topicContainer.innerHTML = html;
        })
        .catch(error => console.error('Error:', error));


</script>

</html>