<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/register.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
        <h1 style="text-align: center" class="display-4">Conquering One Blocker At A Time</h1>
        <p style="text-align: center" class="lead">Create Username & Password </p>
        <div id="loginWrapper" class="wrapper">
            <form id="LoginForm" class="form-signin">
                <h2 class="form-signin-heading">Please Register</h2>
                <input type="text" class="form-control" id="username" name="username" placeholder="User Name"
                    required="" autofocus="" maxlength="10"/>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
    <div id="usernameNotification">
        <p style="text-align: center">Username Must be at Least 3 Characters</p>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const theForm = document.getElementById("LoginForm");
        theForm.addEventListener("submit", (event) => {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            event.preventDefault();
            fetch('https://question-answer-api.herokuapp.com/api/user/', {
                method: "post",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
                .then(res => res.json())
                .then(response => {
                   if(username.length < 3) {
                    document.getElementById("usernameNotification").style.display = "block";
                   } else {
                    location.replace("https://question-answer-api.herokuapp.com")
                   }
                    
                }).catch(error => console.error('Error:', error));
            $('#LoginForm').get(0).reset();
        })
    });


</script>

</html>