<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/public/css/home.css" rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="container-fluid">
        <nav style="background-color: gray" class="navbar navbar-expand-lg navbar-dark>
                <a class=" navbar-brand" href="#">Q & A</a>
            <button class="navbar-toggler" style="background-color:white" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="userInfo"></a>
                    </li>
                    <li class="nav-item">
                        <a style="color: black" class="nav-link" onclick="logOut()" href="/">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color:  #ffffff" style="border-top: 3px solid rgb(219, 219, 219)" class="jumbotron">
            <h1 id="questionHeader" style="text-align: center" class="display-4"></h1>
            <p style="text-align: center" class="lead">Leave an answer if you have a solution. </p>
        </div>
        <div class="container">
            <div class="row mt-sm-4 mt-md-0">
                <div class="col-sm-12 col-md-4">
                    <h3 class="mb-4">Browse A Topic</h3>
                    <ul id="topic" class="nav flex-column nav-pills">
                    </ul>
                </div>
                <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                    <div id="questionType"></div>
                    <div id="question"></div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright: De'Meco Bell
        </div>
    </footer>

</body>
<script src="/public/logOut.js"></script>
<script>

    //gettting topics from db 
    const token = localStorage.getItem('token');
    const bearer = 'Bearer ' + token
    fetch('http://localhost:3000/api/topic/', {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            let url = window.location.pathname;
            let topic = url.substring(url.lastIndexOf('/') + 1)
            let html = '';
            for (var i = 0; i < response.length; i++) {
                let activeClass = topic === response[i]._id ? 'active' : '';
                html += `<li class="nav-item">
                <a class="nav-link ${activeClass}" href="http://localhost:8080/topic/${response[i]._id}">${response[i].topic}</a>
                        </li>`
            }
            const topicContainer = document.getElementById("topic");
            topicContainer.innerHTML = html;
        })
        .catch(error => console.error('Error:', error));

    //get question by topic
    let url = window.location.pathname;
    let topic = url.substring(url.lastIndexOf('/') + 1)
    fetch('http://localhost:3000/api/' + topic, {
        method: "GET",
        headers: {
            'Authorization': bearer,
        }
    })
        .then(res => res.json())
        .then(response => {
            let html = '';
            for (var i = 0; i < response.length; i++) {
                html += `<div>`
                html += `<a  href="http://localhost:8080/question/${response[i]._id}">${response[i].question} ? Posted By: ${response[i].user.username}</a>`
                html += `</div>`
            }
            const questionContainer = document.getElementById("question");
            questionContainer.innerHTML = html;
            let userHtml = ''
            userHtml += `<a style="color: black" class="nav-link" href="http://localhost:8080/home/${response[0].user._id}">Home</a>`
            const navContainer = document.getElementById("userInfo");
            navContainer.innerHTML = userHtml;
            let topicHtml = ''
            topicHtml += `<h1>${response[0].topic.topic} </h1>`

            topHeaderContainer = document.getElementById("questionHeader");
            topHeaderContainer.innerHTML = topicHtml;
            let questionTypeHtml = ''
            questionTypeHtml += `<h3>${response[0].topic.topic} Questions </h3>`

            questionTypeContainer = document.getElementById("questionType");
            questionTypeContainer.innerHTML = questionTypeHtml;
        })
        .catch(error => console.error('Error:', error));

</script>

</html>