#gridWrapper {
    margin-left: 350px;
}​

footer {
    display: flex;
    justify-content: center;
    }
     .nav-link {
       width: 100px;
      }
      
      hr{
        border-color: black;
       }
      

      #answer {
        width: 700px;
        padding: 0 0 300px 0;
      }
      