
footer {
    display: flex;
    justify-content: center;
    }
      
      hr{
        border-color: black;
       }
      

      .container-grid {
        display: flex;
         justify-content: center;
        align-items: center; 
    }
    @media screen and (max-width: 600px) {
      .display-4 {
        font-size: 30px;
      }
    }
  
   .container {
    display: flex;
     justify-content: center;
    align-items: center; 
}

