#question {
  border: 1px solid black;
  background-color: grey;
}

/* #questionAnswer{
   background-color: grey;
} */

hr {
  margin: 30px -20px 20px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}
