

hr {
  margin: 30px -20px 20px;
  border: 0;
  border-top: 1px solid #c9c7c7;
}

#date {
  margin-top: -31px;
  font-size: 12px;
  font-weight: bold;
}

.button {
  display: block;
  width: 63px;
  height: 30px;
  background: #e1ecf4;
  padding: 1px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  font-size: 10px;
}

#questionUserName {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
#questionAnswer {
  line-height: 30px;
}
#answerUserName {
  background-color: lightgrey;
  padding: 7px;
  border-radius: 5px;
}
#answerCount {
  margin-left: -14px;
}
#answerForm {
  margin-left: -12px;
}

#btn {
  margin-left: -12px;
}

#question {
  line-height: 30px;
}
.nav-link {
  width: 100px;
}

.nav {
  margin-top: -20px;
}